.LineChartProp {
    display: flex;
    position: relative;
    width: 791px;
    height: 464px;
    border-radius: 12px;
    top: 74px;
    left: 24px;


    background: #FFFFFF;


}

.LineChartName {
    position: absolute;

    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
    text-align: left;
    left: 24px;
    top: 24px;
    color: #282739;


}



.LineChart {
    display: flex;
    position: absolute;
    width: 940px;
    height: 360px;
    border-radius: 12px;
    top: 90px;
    left: 20px;
}