.titleInfo {
    position: relative;

    width: auto;
    height: 30px;
    left: 148px;
    top: 29px;

    /* 20/20 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Orange/$-Orange-400 */

    color: #FF9138;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.PerImg{
    position: relative;
    width: 100px;
    height: 100px;
    left: 500px;
    top: 500px;
}

.InfoBox {
    display: flex;
    position: relative;
    width: 1112px;
    left: 224px;
    top: 168px;
    height: 550px;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
}

.Ten {
    position: absolute;
    top: 40px;
    left: 296px;
    width: 113px;
height: 24px;

/* 16/16 Semi */

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray/$-gray-500 */

color: #282739;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.TenBox{
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 10px;

position: absolute;
width: 384px;
height: 44px;
left: 296px;
top: 72px;

/* Gray/$-gray-50 */

background: #EAEAEC;
border-radius: 6px;
}

.InfoFont {
    width: 121px;
height: 24px;

/* 16/16 Reg */

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray/$-gray-400 Text */

color: #535261;

opacity: 0.5;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.Sdt{
    position: absolute;
    top: 140px;
    left: 296px;
    width: 95px;
height: 24px;

/* 16/16 Semi */

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray/$-gray-500 */

color: #282739;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.SdtBox{
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 10px;

position: absolute;
width: 384px;
height: 44px;
left: 296px;
top: 172px;

/* Gray/$-gray-50 */

background: #EAEAEC;
border-radius: 6px;
}

.Email{
    position: absolute;
    top: 240px;
    left: 296px;
    width: 44px;
height: 24px;

/* 16/16 Semi */

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray/$-gray-500 */

color: #282739;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.EmailBox{
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 10px;

position: absolute;
width: 384px;
height: 44px;
left: 296px;
top: 272px;

/* Gray/$-gray-50 */

background: #EAEAEC;
border-radius: 6px;
}

.Username{
    position: absolute;
    top: 40px;
    left: 704px;
    width: 108px;
height: 24px;

/* 16/16 Semi */

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray/$-gray-500 */

color: #282739;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.UsernameBox{
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 10px;

position: absolute;
width: 384px;
height: 44px;
left: 704px;
top: 72px;

/* Gray/$-gray-50 */

background: #EAEAEC;
border-radius: 6px;
}

.Password{
    position: absolute;
    top: 140px;
    left: 704px;
    width: 108px;
height: 24px;

/* 16/16 Semi */

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray/$-gray-500 */

color: #282739;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.PasswordBox{
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 10px;

position: absolute;
width: 384px;
height: 44px;
left: 704px;
top: 172px;

/* Gray/$-gray-50 */

background: #EAEAEC;
border-radius: 6px;
}

.Roles{
    position: absolute;
    top: 240px;
    left: 704px;
    width: 108px;
height: 24px;

/* 16/16 Semi */

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray/$-gray-500 */

color: #282739;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.RolesBox{
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 10px;

position: absolute;
width: 384px;
height: 44px;
left: 704px;
top: 272px;

/* Gray/$-gray-50 */

background: #EAEAEC;
border-radius: 6px;
}