.LoginSider {
  position: relative;
}
.mdl-js {
  background-color: #acacac46;
}

.LoginForm {
  position: absolute;
  left: 161px;
  top: 380px;
  width: 600px;
}

.LogoLoginCorp{
    position: absolute;
    height: 140px;
width: 180px;
left: 230px;
top: 120px;
border-radius: 0px;

}

.NewPassForm {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #37474f;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.ReNewPassForm {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #37474f;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.Confirm {
  position: relative;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  background-color: #ff9138;
  color: #ffffff;
  height: 40px;
  width: 162px;
  border-radius: 8px;
}

.LogoResetPass {
  position: absolute;
  height: 810px;
  width: 1000px;
  left: 640px;
  top: 0px;
  border-radius: 0px;
  background-color: #ffffff;
}

.ResetPassImg {
  position: absolute;
  width: 711px;
  height: 560;
  left: 79px;
  top: 153px;
}

