.pageAccountName{
    position: absolute;
width: 194px;
height: 36px;
left: -124px;
top: 21px;

/* 24/24 Bold */

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */


/* Orange/$-Orange-500 */

color: #FF7506;
}

.addAccountForm{
    position: absolute;
width: 1192px;
height: 534px;
left: -124px;
top: 91px;

/* White */

background: #FFFFFF;
/* Shadowbox */

box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
border-radius: 16px;
}

.pageAccountTitle{
    position: absolute;
width: 181px;
height: 30px;
left: 24px;
top: -4px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;

color: #FF7506;
}

.boxAccount1{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 560px;
height: 76px;
left: 24px;
top: 66px;
}

.boxAccount2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 560px;
height: 76px;
left: 24px;
top: 158px;
}

.boxAccount3{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 560px;
height: 76px;
left: 24px;
top: 250px;
}

.boxAccount4{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 560px;
height: 76px;
left: 24px;
top: 342px;
}

.boxAccount5{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 560px;
height: 76px;
left: 608px;
top: 66px;

}

.boxAccount6{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 560px;
height: 76px;
left: 608px;
top: 158px;
}

.boxAccount7{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 560px;
height: 76px;
left: 608px;
top: 250px;
}

.boxAccount8{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 560px;
height: 76px;
left: 608px;
top: 342px;

}

.boxAccount9{
    position: absolute;
width: 326px;
height: 48px;
left: 433px;
top: 580px;

}

div label{
    width: 140px;
height: 24px;

/* 16/16 Semi */

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* Gray/$-gray-500 */

color: #282739;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

div .accountTextBox{
    box-sizing: border-box;
    display: flex;
flex-direction: row;
align-items: center;
padding: 10px 270px 10px 12px;
gap: 10px;

width: 560px;
height: 44px;

/* white */

background: #FFFFFF;
/* Gray/$-gray-100 */

border: 1.5px solid #D4D4D7;
border-radius: 8px;
}

div .accountTextBox2{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 270px 10px 12px;
    gap: 10px;
    
    width: 560px;
    height: 44px;
    
    /* white */
    
    background: #FFFFFF;
    /* Gray/$-gray-100 */
    
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}

.boxAccount9 .btnHuy {
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 8px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* Orange/$-Orange-400 */

color: #FF9138;

position: absolute;
width: 147px;
height: 48px;
left: 0px;
top: 0px;

/* Orange/$-Orange-50 */

background: #FFF2E7;
/* Orange/$-Orange-400 */

border: 1.5px solid #FF9138;
/* down */

box-shadow: 0px 0px 6px #E7E9F2;
border-radius: 8px;
}



.boxAccount9 .btnThem  {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 8px;

position: absolute;
width: 147px;
height: 48px;
left: 179px;
top: 0px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* white */

color: #FFFFFF;

/* Orange/$-Orange-400 */

background: #FF9138;
border: 1.5px solid #FF9138;

/* down */

box-shadow: 0px 0px 6px #E7E9F2;
border-radius: 8px ;
}